<%- include("partials/header") -%>

<h1><%= title %></h1>

<div>
	<div class="posts">
		<p class="post"><%= body %></p>
	</div>
</div>

<a class="btn btn-primary" href="/" role="home">Home</a><br/><br/>

<%- include("partials/footer") -%>