body {
	font-family: "Montserrat";
}

#title {
	background: #ff4c68;
	color: #fff;
}

.title-image {
	margin-left: 4rem;	
	width: 60%;
	transform: rotate(25deg);
}

.container-fluid {
	padding: 3% 15%;
}

h1 {	
	font-size: 3.5rem;
	line-height: 1.5;
}

/*Nav Bar*/
.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 18px 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat";
}

/* Download Buttons */
.download-button {
	margin: 5% 3% 5% 0;
}
